<h1>New task</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Create Task" %>
<% end %>
<br>

<hr>
<i class="fa-solid fa-rotate-left"></i><%= link_to " Back to list", tasks_path, class:"no_underline" %>
